@page
@model AboutModel
@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<div class="container">
    <div class="row">
        <h2 class="text-center">Douglas Barcelos - Software Developer</h2>
        <p align="center">
            <img src="" />
        </p>
        <br />
        <h3 class="text-justify">⚡️ Mini Bio:</h3>
        <hr />
        <p class="text-justify">
            texto sobre mim!
        </p>
        <br />
        <h3 class="text-justify">Informações Pessoais:</h3>
        <hr />
        <dl>
            <dt>Nome: Douglas Alves</dt>
        </dl>
        <dl>
            <dt>Empresa: Barcelos App</dt>
        </dl>
        <dl>
            <dt>Profissão: Software Developer</dt>
        </dl>
    </div>
</div>
