@page
@model ContactModel
@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Não exitem em entrar em contato!</p>

<div class="container">
    <div class="row">
        <a class="btn btn-primary" href="https://www.linkedin.com/in/douglas-alves-9702ab121/">LinkedIn</a>
        <a class="btn btn-primary" href="https://facebook.com/douglas.alves82">Facebook</a>
        <a class="btn btn-primary" href="https://github.com/doug-pr">GitHub</a>
    </div>
</div>