@page
@model IndexModel
@{
    ViewData["Title"] = "Barcelos App";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="text-center"><i class="material-icons md-66">devices</i><span aria-hidden="true"></span> Barcelos App - Soluções em Sistemas</h1>
        <h3 class="text-center">Douglas Barcelos - Software Developer</h3>
    </div>
    <hr class="m-y-md">
    <p>Teste de parágrafo</p>
    <p class="lead">
        <a class="btn btn-danger btn-lg" href="www.barcelosapp.com.br" role="button">Acesse meu site!</a>
    </p>
</div>